.mainContainer {
    display: grid;
    grid-template-columns: 150px 150px 200px;
  }
  
.systemContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
.fleetContainer {
    /* display: flex;
    flex-direction: column;
    flex-basis: 300px; */
    width: 100%;
}

.fleetList {
    width: 100%;
    display: flex;
    flex-direction: column;
} 

.fleetTitle {
    margin-left: 20px;
}

.airplaneContainer {
    width: 100%;
    text-align: center
}

.airplaneList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.systemList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.systemContainer {
    flex-direction: row;
    max-width: 250px;
    width: 100%;
    text-align: center
}

.systemText {
    margin: 8px;
}

.mapContainer {
    flex-direction: column;
    width: 100%;
    background-color: green;
}

.List {
    list-style-type:none;
    margin-left: 0px;
}

.ListItem {
    margin-left: 0px;
}
